# Data Type

In [1]:
# List
[1,2,3]

[1, 2, 3]

In [3]:
['a','b','c']

['a', 'b', 'c']

In [4]:
a=[1,2,3]
b=[4,5,6]

In [5]:
a

[1, 2, 3]

In [6]:
b

[4, 5, 6]

In [7]:
import numpy as np

In [8]:
# array
np.array(a)

array([1, 2, 3])

In [9]:
np.array([a,b])

array([[1, 2, 3],
       [4, 5, 6]])

In [10]:
import pandas as pd

In [11]:
# DataFrame
pd.DataFrame([a,b], columns=['a','b','c'], index=['x','y'])

   a  b  c
x  1  2  3
y  4  5  6

In [14]:
# Series
pd.Series(a)

0    1
1    2
2    3
dtype: int64

In [16]:
data = pd.read_csv("./data/eCommerce.csv")

In [17]:
data

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
type(data['Time on Website'])

pandas.core.series.Series

In [20]:
data['Time on Website'] # Series Type

0      39.577668
1      37.268959
2      37.110597
3      36.721283
4      37.536653
         ...
495    36.417985
496    37.190268
497    38.332576
498    36.840086
499    35.771016
Name: Time on Website, Length: 500, dtype: float64

In [21]:
pd.DataFrame(data['Time on Website']) # Series -> DataFrame

     Time on Website
0          39.577668
1          37.268959
2          37.110597
3          36.721283
4          37.536653
..               ...
495        36.417985
496        37.190268
497        38.332576
498        36.840086
499        35.771016

[500 rows x 1 columns]

In [22]:
# Numpy array -> Pandas DataFrame
pd.DataFrame(np.array([a,b]))

   0  1  2
0  1  2  3
1  4  5  6

In [23]:
# Pandas DataFrame -> Numpy array
np.array(data)

array([['mstephenson@fernandez.com',
        '835 Frank Tunnel\nWrightmouth, MI 82180-9605', 'Violet', ...,
        39.57766801952616, 4.0826206329529615, 587.9510539684005],
       ['hduke@hotmail.com',
        '4547 Archer Common\nDiazchester, CA 06566-8576', 'DarkGreen',
        ..., 37.268958868297744, 2.66403418213262, 392.2049334443264],
       ['pallen@yahoo.com',
        '24645 Valerie Unions Suite 582\nCobbborough, DC 99414-7564',
        'Bisque', ..., 37.110597442120856, 4.104543202376424,
        487.54750486747207],
       ...,
       ['dale88@hotmail.com',
        '0787 Andrews Ranch Apt. 633\nSouth Chadburgh, TN 56128',
        'Cornsilk', ..., 38.33257633196044, 4.9582644726186995,
        551.6201454762477],
       ['cwilson@hotmail.com',
        '680 Jennifer Lodge Apt. 808\nBrendachester, TX 05000-5873',
        'Teal', ..., 36.840085729767004, 2.336484668112853,
        456.46951006629797],
       ['hannahwilson@davidson.com',
        '49791 Rachel Heights Apt. 898\nEast Drewborough, OR 55919-9528',
        'DarkMagenta', ..., 35.771016191612965, 2.7351595670822757,
        497.7786422156802]], dtype=object)

# Indexing
* indexing : 특정한 줄을 뽑아오는 것

In [25]:
import pandas as pd

In [27]:
data = pd.read_csv("./data/eCommerce.csv")

In [28]:
data

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [29]:
data['Avg. Session Length'] # data[Series Type]

0      34.497268
1      31.926272
2      33.000915
3      34.305557
4      33.330673
         ...
495    33.237660
496    34.702529
497    32.646777
498    33.322501
499    33.715981
Name: Avg. Session Length, Length: 500, dtype: float64

In [32]:
['Time on App','Time on Website'] # Series -> List

['Time on App', 'Time on Website']

In [34]:
type(['Time on App','Time on Website'])

list

In [33]:
data[['Time on App','Time on Website']]

     Time on App  Time on Website
0      12.655651        39.577668
1      11.109461        37.268959
2      11.330278        37.110597
3      13.717514        36.721283
4      12.795189        37.536653
..           ...              ...
495    13.566160        36.417985
496    11.695736        37.190268
497    11.499409        38.332576
498    12.391423        36.840086
499    12.418808        35.771016

[500 rows x 2 columns]

# Data Drop

In [35]:
data.drop(3) # default: row에서 찾아 제거한다

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
5,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",FloralWhite,33.871038,12.026925,34.476878,5.493507,637.102448
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [36]:
data.drop('Yearly Amount Spent', axis = 1)  # axis =1 -> col에서 찾아 삭제
                                            # axis = 0 -> default, row에서 찾아 삭제

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308
...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160

In [40]:
data.drop(['Avg. Session Length', 'Avatar'], axis=1)

,Email,Address,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,12.418808,35.771016,2.735160,497.778642

In [42]:
# But drop한 결과는 저장안됨
data = data.drop(['Avg. Session Length', 'Avatar'], axis=1)
data.drop(['Email'], axis=1, inplace=True)

KeyError: "['Avg. Session Length' 'Avatar'] not found in axis"

In [43]:
df = data.head(10)

In [44]:
df

,Email,Address,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189,37.536653,4.446308,599.406092
5,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",12.026925,34.476878,5.493507,637.102448
6,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",11.366348,36.683776,4.685017,521.572175
7,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,12.351959,37.373359,4.434273,549.904146
8,vchurch@walter-martinez.com,"860 Lee Key\nWest Debra, SD 97450-0495",13.386235,37.534497,3.273434,570.200409
9,bonnie69@lin.biz,"PSC 2734, Box 5255\nAPO AA 98456-7482",11.814128,37.145168,3.202806,427.199385

In [45]:
df.index=['a','b','c','d','e','f','g','h','i','j']

In [46]:
df

,Email,Address,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
a,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",12.655651,39.577668,4.082621,587.951054
b,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",11.109461,37.268959,2.664034,392.204933
c,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",11.330278,37.110597,4.104543,487.547505
d,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514,36.721283,3.120179,581.852344
e,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189,37.536653,4.446308,599.406092
f,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",12.026925,34.476878,5.493507,637.102448
g,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",11.366348,36.683776,4.685017,521.572175
h,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,12.351959,37.373359,4.434273,549.904146
i,vchurch@walter-martinez.com,"860 Lee Key\nWest Debra, SD 97450-0495",13.386235,37.534497,3.273434,570.200409
j,bonnie69@lin.biz,"PSC 2734, Box 5255\nAPO AA 98456-7482",11.814128,37.145168,3.202806,427.199385

In [47]:
# 행추출
df.loc['d'] # Series

Email                                            riverarebecca@gmail.com
Address                 1414 David Throughway\nPort Jason, OH 22070-1220
Time on App                                                      13.7175
Time on Website                                                  36.7213
Length of Membership                                             3.12018
Yearly Amount Spent                                              581.852
Name: d, dtype: object

In [48]:
df.loc['d':'h']

,Email,Address,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
d,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514,36.721283,3.120179,581.852344
e,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189,37.536653,4.446308,599.406092
f,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",12.026925,34.476878,5.493507,637.102448
g,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",11.366348,36.683776,4.685017,521.572175
h,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,12.351959,37.373359,4.434273,549.904146

In [49]:
df.iloc[3]  # 4행 정보 추출

Email                                            riverarebecca@gmail.com
Address                 1414 David Throughway\nPort Jason, OH 22070-1220
Time on App                                                      13.7175
Time on Website                                                  36.7213
Length of Membership                                             3.12018
Yearly Amount Spent                                              581.852
Name: d, dtype: object

In [54]:
df.iloc[3:8]  # (3,4,5,6,7) 4행 - 8행까지 출력

,Email,Address,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
d,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514,36.721283,3.120179,581.852344
e,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189,37.536653,4.446308,599.406092
f,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",12.026925,34.476878,5.493507,637.102448
g,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",11.366348,36.683776,4.685017,521.572175
h,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,12.351959,37.373359,4.434273,549.904146

In [55]:
# 열추출
df.iloc[1:3, 0:3] # 행(1,2) 2,3행 / 열(0,1,2) 1,2,3열 추출

,Email,Address,Time on App
b,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",11.109461
c,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",11.330278

In [56]:
# 열만 추출
df.iloc[:, 0:3]

,Email,Address,Time on App
a,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",12.655651
b,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",11.109461
c,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",11.330278
d,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",13.717514
e,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",12.795189
f,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",12.026925
g,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",11.366348
h,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,12.351959
i,vchurch@walter-martinez.com,"860 Lee Key\nWest Debra, SD 97450-0495",13.386235
j,bonnie69@lin.biz,"PSC 2734, Box 5255\nAPO AA 98456-7482",11.814128